<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<title>Smart Farming</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
	<script src="https://kit.fontawesome.com/6a4dfecb4a.js" crossorigin="anonymous"></script>
</head>
	<body>
		
		<div class="container">

            <div class="navbarfield">
                <button type="submit" id="submitBtn" onclick="window.location.href='http://localhost:5000/about';">About</button>
                <button type="submit" id="submitBtn" onclick="window.location.href='http://localhost:5000/login';">Login</button>
                <button type="submit" id="submitBtn" onclick="window.location.href='http://localhost:5000/signup';">Register</button>
            </div>
			
		</div>


<script>

	

    
</script>

	</body>

</html>