<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<title>Fertilizer Recommendation</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/styles1.css')}}">
	<script src="https://kit.fontawesome.com/6a4dfecb4a.js" crossorigin="anonymous"></script>
</head>
	<body>
		
		<div class="container">

		
			<div class="form-box">
				<h1 id="title">Login</h1>

				
				<br>
                <form action="/loginp" method="post">

                    <div class="input-group">

                    <p>Email/Contact</p>
                	<div class="input-field" id="nameField">
                		<input type="text" placeholder="Enter UserId" name="userId" required>
                	</div>
                  
                    <p>Password</p>
                	<div class="input-field" id="nameField">
                		<input type="password" placeholder="Enter Your Password" name="password" required>
                	</div>


                    <br>

                    <div class="btn-field">
                    	<button type="submit" id="submitBtn" >Login</button>
						<button type="submit" id="submitBtn" onclick="window.location.href='http://localhost:5000/signup';">Signup</button>
                    </div>

					<br>

                </form>
			</div>
			
		</div>


<script>

	

    
</script>

	</body>

</html>